* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  font-size: 1rem;
}

body {
  min-height: 100vh;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  background: rgb(14, 13, 13);
  overflow-x: hidden;
}

button {
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #fff;
  font-size: 1.2rem;
  background: transparent;
  cursor: pointer;
  transition: 0.5s;
}
